<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
        <div class="text-center">
            <h2>ERROR</h2>
            <br />
            <h4>Ha ocurrido un problema, intentelo denuevo</h4>
            <hr />
            <p>Disculpe las molestias</p>
            <br />
            <a href="#">Volver</a>
        </div>
</body>
</html>
