@model ProjectWebApp.Models.PLAN_PAGO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar este registro?</h3>
<div>
    <h4>PLAN PAGO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Plan:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLAN)
        </dd>

        <dt>
            Valor:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR)
        </dd>        

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <button type="submit" class="btn btn-default" value="Delete">Eliminar</button>
            @Html.ActionLink("Volver a Listado", "Index")
        </div>
    </div>
    }
</div>
