@model ProjectWebApp.Models.PLAN_PAGO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Detalle <small></small></h2>                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <ul class="list-unstyled user_data">
                        <li>
                            <label for="name">
                                Plan:
                            </label> @Model.PLAN 
                        </li>

                        <li>
                            <label for="name">
                                Valor:
                            </label>  @Model.VALOR 
                        </li>                        
                    </ul>

                    <a href="/PLAN_PAGO/Edit/@Model.ID_PAGO" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Editar Plan</a>
                    <br>
                    

                </div>

            </div>
        </div>

    </div>
</div>


