
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="text-center">
    <h2>ERROR 404</h2>
    <br />
    <h4>Esta página no existe.</h4>
    <hr />
    <p>Disculpe las molestias</p>
    <br />
    <a href="#">Volver</a>
</div>

